.card-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 35px;
    padding: 20px;
    padding-top: 100px;
}

.hero {
    color: #D2D5D7;
    padding-top: 130px;
    text-align: center;
    font-size: 24px;
}

.hero h1  span{
    background: linear-gradient(transparent 80%, #89939C 80% 95%, transparent 95%);
}