.card {
    display: flex;
    flex-direction: column;
    width: 350px;
    cursor: pointer;
    background-color: rgb(246, 250, 254);
    border-radius: 5px;
    box-shadow: 5px 5px 10px #838383;
}

.card img {
    width: 100%;
    border-radius: 5px 5px 0 0;
}

