* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url("./assets/Background News.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}